*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
li{
    list-style: none;
}

.navbar{
    color: white;
    z-index: 9999999;
    text-align: center;
    width: 100%;
    position: fixed;
    padding-top: 60px;
    background-color: transparent;   
}
.headertitle{
    padding-bottom: 40px;
}
.navbarlinks{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
}
/* -------------------------------------------------------------------------------------- */

.sec1{
    background-image: url(Images/IMG-20230808-WA0021.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 180vh;
    position: relative;
    
}

.sec1::after{
    content: '';
    height: 180vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

.cont1{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.maintext{
    
    position: absolute;
    z-index: 99;
}

.txt1{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 100px;
}
.txt2{
    color: rgb(159, 157, 157);
}
.txt3{
    text-align: center;
    font-size: 100px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.topimage{
    
    padding-top: 650px;
    position: absolute;
    z-index: 9999;
}

.btn1{
    
    position: absolute;
    z-index: 99999;
    padding-top: 800px;
}

.edtbtn1{
    font-weight: bold;
    font-size: 20px;
    padding: 25px 80px;
    background-color: red;
    color: white;
    border: 0px solid;
    border-radius: 40px;
    cursor: pointer;
}
/* ----------------------------------------------------------------------- */
.sec2{
    margin-top: 300px;
}
.cont2{
    display: flex;
    margin: auto;
}
.imgmiddle{
    border-radius: 20px;
}
.card1{
    padding-left: 20px;
    width: 50%;
}
.card1txt{
    width: 30%;
    padding-top: 180px;
    padding-left: 10px;
}
.edtbtn2{
    padding: 5px 20px;
    border-radius: 10px;
    border: 0px;
    background-color: black;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.txt4{
    padding-top: 30px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-bottom: 40px;
}
.txt5{
    color: rgb(162, 162, 162);
    font-size: 16px;
    line-height: 34px;
}

.txt6{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    font-size: 12px;
    font-weight: 800;
}
/* ------------------------------------------------------------------------- */
.sec3{
    padding-top: 200px;
    padding-bottom: 300px;
}
.cont3{
    width: 85%;
    margin: auto; 
}
.txt7{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

.btn3{
    padding-top: 150px;
}
.card2parent{
    display: flex;
}
.card2{
    width: 45%;
}
.cards2container{
    width: 90%;
    margin: auto;
}
.rtcard2{
    width: 60%;
    padding-left: 50px;
}
.card2img1{
    padding-top: 60px;
}
.edtbtn3{
    padding: 8px 30px;
    background-color: red;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.card2img1desc{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.fatscontainer{
    width: 80%;
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.edtbtn4{
    border-radius: 15px;
    padding: 5px 20px;
    border: 1px solid rgb(193, 193, 193); 
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: grey;
    background-color: rgb(255, 255, 255);
}
.underbtn4text{
    font-size: 21px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 137, 137);
    padding-bottom: 30px;
}
.pricecontainer{
    display: flex;
    justify-content: space-between;
}
.price1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.btn5{
    padding-bottom: 100px;
}
.edtbtn5{
    padding: 15px 30px;
    border-radius: 20px;
    background-color: black;
    border: 0px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

.smallcard2parent{
    display: flex;
    flex-wrap: wrap;
    
}
.smallcard2{
    border-radius: 15px;
    background-color: #fcf8f7;
    height: 480px;
    width: 45%;
    margin: 10px 10px;

}
.card2img2{
    padding-top: 50px;
    width: 50%;
    margin: auto;
}
.card2txts{
    padding-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
}
.pricebtn2{
    padding-top: 50px;
    padding-left: 100px;
}
.edtbtn6{
    border-radius: 20px;
    border: 0px;
    background-color: red;
    color: white;
    font-size: 25px;
    padding: 5px 20px;
    cursor: pointer;
}
/* ---------------------------------------------------------------------------------- */
.sec4{
    background-color: #191A1D;
    height: 1500px;
}
.card3{
    width: 50%;
}
.card3parent{
    display: flex;
    padding-top: 70px;
    padding-bottom: 100px;
}
.btn7{
    padding-top: 80px;
    padding-bottom: 50px;
}
.edtbtn7{
    border-radius: 10px;
    border: 0px;
    background-color: red;
    color: white;
    padding: 5px 30px;    
}
.txt8{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    font-weight: bold;
    padding-bottom: 20px;
}
.card3rtside{
    width: 45%;
}
.txt9{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}
.edtbtn8{
    padding: 20px 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}
.card3parentleftside{
    display: flex;
    justify-content: flex-end;
}
.card3part2{
    padding-left: 200px;
}
/* ------------------------------------------------ */
.sec5{
    padding-top: 150px;
    height: 1000px;
}
.cont5{
    width: 80%;
    margin: auto;
}
.sec5title{
    padding-bottom: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.card4parent{
    display: flex;
}
.card4{
    margin: 0px 10px;
    border-radius: 20px;
    background-color: #fcf8f7;
    width: 25%;
    height: 500px;
}
.card4img{
    padding-top: 50px;
    
}
.card4imgtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.card4imgsubtitle{
    color: #515050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.pricecontainer2{
    display: flex;
    justify-content: space-between;
}
.btn9{
    padding:10px 20px;
}
.edtbtn9{
    border-radius: 10px;
    padding: 5px 20px;
    background-color: red;
    color: white;
    border: 0px;
    cursor: pointer;
}
.btn10{
    padding: 10px 20px;
}
.edtbtn10{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-size: 15px;
}
/* ---------------------------------------------- */
.cont6{
    width: 80%;
    margin: auto;
}
/* ------------------------------------------------ */
.sec7{
    margin-top: 300px;
}
.cont7{
    display: flex;
    margin: auto;
}
.card5parent{
    display: flex;
}
.sec8{
    margin-top: 200px;
}
.sec9{
    padding-bottom: 300px;
    margin-top: 200px;
}
.cont9{
    width: 80%;
    margin: auto;
}
.card6parent{
    display: flex;
    justify-content: space-evenly;
}
.iconsparent{
    display: flex;
}
.email{
    border-radius: 20px;
    border: 1px solid #f4f4f4;
    padding: 10px 20px;
}
.txt10{
    text-align: center;
    padding-bottom: 10px;
}
.btn11{
    padding-left: 20px;
}
.edtbtn11{
    padding: 15px 30px;
    background-color: red;
    color: white;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;

}